<main class="px-3">
  <h1>Guess What?</h1>
  <p class="lead">
    Guess What? is a game for Guessing words where you will get SIX chances to guess the word of length 5 and you will get hints if you are close to the correct word or not. Play and win.
  </p>
  <p class="lead">
    <a
      href="/games"
      class="btn btn-lg btn-secondary fw-bold border-white bg-white"
      >Play Now</a
    >
  </p>
</main>