<footer class="mt-auto text-white-50">
  <p>
    Repo: <a href="https://getbootstrap.com/" class="text-white">GitHub</a>,
    Developer: <a href="https://twitter.com/mdo" class="text-white">Anand Singh</a>.
  </p>
</footer>