<footer class="mt-auto text-white-50">
  <p>
    Repo: <a href="https://github.com/ask26021997/guess-what" class="text-white">GitHub</a>,
    Developer: <a href="https://www.linkedin.com/in/anand--singh/" class="text-white">Anand Singh</a>.
  </p>
</footer>