<header class="mb-auto">
  <div>
    <h1 class="display-4 fst-italic">
      <a class="navbar-brand" href="/"> Guess What? </a>
    </h1>

    <nav class="nav nav-masthead justify-content-center float-md-end"></nav>
  </div>
</header>
