
<header class="mb-auto">
  <div>
    <a class="navbar-brand" href="/">
      Guess What?
    </a>
    <nav class="nav nav-masthead justify-content-center float-md-end">
      <button class="btn btn-outline-success me-2" type="button">Create Account</button>
      <button class="btn btn-outline-success me-2" type="button">Login</button>
    </nav>
  </div>
</header>